[submodule "models/DeepoFoldRNA"]
	path = models/DeepoFoldRNA
	url = https://github.com/robpearc/DeepFoldRNA.git
[submodule "models/DRfold"]
	path = models/DRfold
	url = https://github.com/leeyang/DRfold.git
[submodule "models/DRfold2"]
	path = models/DRfold2
	url = https://github.com/leeyang/DRfold2.git
[submodule "models/RhoFold"]
	path = models/RhoFold
	url = https://github.com/ml4bio/RhoFold.git
[submodule "models/NuFold"]
	path = models/NuFold
	url = https://github.com/kiharalab/NuFold.git
[submodule "models/FARFAR2"]
	path = models/FARFAR2
	url = https://github.com/RosettaCommons/rosetta.git
